
*{
	padding:0 ;
      margin:0;
 }
body{
	/* background-color:rgb(156,29,38); */
	}

  #daohang{
      padding:0 ;
	  padding-left:350px;
      margin:0;
      background-color:rgb(28,16,28);
      overflow:hidden;
     }
	 /*li*/
 li{
	  list-style-type:none;
       float:left;
      }
 li a{
        color:white;
        display:block;
        padding:16px;
        text-decoration:none;
        text-align:center;
         }
 li a:hover{
			  background-color:#F00;
  }
  
  /*轮播 开始*/
.carousel_wrapper {
  position: relative;
  
  width: 320px;
  margin: 0px auto 0 auto;
  /*原始数据*/
  /*width: 320px;*/
  /* margin: 100px auto 0 auto; */
  /*perspective 属性定义 3D 元素距视图的距离，以像素计。*/
  perspective: 1000px;
}

.carousel {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: rotateY(-360deg) translateZ(-412px); 
  animation: swirl 40s steps(10000, end) infinite;
}

.slide {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 300px;
  height: 187px;
}

.slide img {
  width: 280px;
  height: 175px;
  border: 3px inset rgba(47, 115, 201, 0.75);
  box-shadow: 0 0 15px 3px rgba(110, 72, 221, 0.9);
}

.slide.one {
  transform: rotateY(0deg) translateZ(412px);
}
.slide.two {
  transform: rotateY(40deg) translateZ(412px);
}
.slide.three {
  transform: rotateY(80deg) translateZ(412px);
}
.slide.four {
  transform: rotateY(120deg) translateZ(412px);
}
.slide.five {
  transform: rotateY(160deg) translateZ(412px);
}
.slide.six {
  transform: rotateY(200deg) translateZ(412px);
}
.slide.seven {
  transform: rotateY(240deg) translateZ(412px);
}
.slide.eight {
  transform: rotateY(280deg) translateZ(412px);
}
.slide.nine {
  transform: rotateY(320deg) translateZ(412px);
}

 @keyframes swirl {   
  from {
    transform: rotateY(-360deg);
  }
  to {
    transform: rotateY(0deg);
  }
}  

  /*轮播 结束*/
  #haha{
	  padding:0 ;
      margin:0;
      list-style-type:none;
      background-color:rgb(28,16,28);
      overflow:hidden;}
	 
 #kunkun{
	  padding:0px;
      margin:0;
      list-style-type:none;
      background-color:rgb(28,16,28);
      overflow:hidden;
	  color:#F00;
	  font-size:21px;
	  text-align:center;
	  }
	  
	/*图片展示*/
	#show{
		border:1px solid rgb(28,16,28);
		 padding:0 ;
	     padding-left:330px;
         margin:0;
         background-color:rgb(28,16,28);
         overflow:hidden;
		}
	#show li{
		margin:50px;
		}
		
		/*图片部分*/
	#Main{
	  width:100%;/*宽*/
	  height:615px;/*高*/ 
	  background-color:rgb(28,16,28);  /*背景颜色*/
	  margin:0.1px;
	  padding-left:100px;
	  border:1px solid #fff;
	}
	
	
#Main ul li{
			width:500px;
            height:300px; 
            border:1px solid #fff;/*粗细 风格 颜色边框*/ 
            list-style-type:none;/*去掉前面的圆点*/ 
             float:left;/*左浮动 */
			 margin-top:1px;
			 margin-left:50px;
			 box-shadow:5px 5px 10px #000;
			  }
			 
 #Main ul li img{
	         width:500px;
             height:290px; 
			 
	 }
 #shipin{
	  padding:0px;
      margin:5px;
	  float:left;
	 }
  .shipin{
	  width:600px;
	  height:300px;
	  float:left;
	  margin:1px;
	  }
 #qiang{
	 width:1px;
	 height:1px;
	 clear:both;
	 }
	/*版权*/ 
#banquan{
		width: 100%;
		height: 44px;
		margin-top: 40px;
		background-color: #000000;
		background:rgba(0,0,0,0.5);
		}
#banquan{
		text-align: center;
		/* height: 40px; */
		/* background: rgba(0,0,0,0.5); */
		/* color: #FFFFFF; */
		}
			